@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --main--violet-color: #6f00fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: black;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.nav-container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 15vh;
  display: flex;
  transition: 0.4s;
}
.logo-container {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo-container > a {
  text-decoration: none;
}
.logo-container > a > h4 {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  color: black;
}
.logo-container > a > h4 > span {
  color: var(--main--violet-color);
}
nav {
  width: 25%;
}
nav > ul {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
}
nav > ul > li > a::after {
  content: "";
  width: 0;
  height: 2.5px;
  background-color: var(--main--violet-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transition: all ease 0.3s;
  z-index: 10;
}
nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}
.search-container {
  width: 30%;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
}
.search-container > i {
  position: absolute;
  left: 10px;
  top: calc(50%-50%);
}
.search-container > input {
  width: 90%;
  height: 2rem;
  padding-left: 2.5rem;
  outline: none;
  border: none;
}
.fa-magnifying-glass {
  color: #999;
}
.log-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.log-container > a > button {
  font-weight: 700;
  font-size: 0.8rem;
  padding: 9px 25px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.user::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f007";
  font-size: 1rem;
}
.log-container > a {
  text-decoration: none;
}
.log-container > a > button {
  border-radius: 5px;
  color: white;
  background-color: var(--main--violet-color);
  border: 2px solid var(--main--violet-color);
}
.log-container > a > button:hover {
  box-shadow: 0 5px 10px rgb(111, 0, 253, 0.4);
  /* transform: scale(1.01); */
}
.container {
  margin: 20vh auto 0;
  width: 80%;
  height: 70vh;
}
.row {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-text {
  width: 50%;
  height: 100%;
  padding: 30px;
  position: relative;
}

.contact-text > h1,
.contact-text > h4 {
  width: 70%;
}
.contact-text > h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--main--violet-color);
}
.contact-text > h4 {
  font-weight: 500;
}
.address-contact {
  margin-top: 20px;
}
.each-address-container {
  font-size: 16px;
  margin-top: 10px;
}
.each-address-container > span {
  width: 30px;
  margin-right: 10px;
}
.each-address-container > span > i {
  color: var(--main--violet-color);
}
.each-address-container:nth-child(1) > span {
  margin-right: 14px !important;
}
.social-media > h3 {
  margin: 30px 0 9px;
  font-weight: 600;
  font-size: 1rem;
}
.socmed-logo {
  width: 8vw;
  display: flex;
  justify-content: space-between;
  color: var(--main--violet-color);
}
.socmed-logo > i {
  cursor: pointer;
  font-size: 1.2rem;
}
.contact-form {
  height: 100%;
  background-color: rgba(111, 0, 253, 0.8);
  width: 50%;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group {
  width: 80%;
}
.form-group > input {
  width: 100%;
  height: 5vh;
  margin: 10px 0;
  border: none;
  outline: none;
  padding-left: 10px;
}
textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 15vh;
  margin-top: 10px;
}
.contact-form > button {
  margin-top: 20px;
  width: 80%;
  height: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  border-radius: 200px;
  background-color: transparent;
  outline: none;
  border: none;
  border: 2px solid white;
  transition: all ease 0.3s;
}
.container-footer {
  max-width: 1170px;
}
.row-footer {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  margin: 15vh 0 0;
  background-color: rgba(102, 16, 242, 0.8);
  padding: 40px 20px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  color: black;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.active {
  color: var(--main--violet-color) !important;
  transition: all ease 0.3s !important;
}
.scrollNav {
  height: 12vh;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
